In [1]:
import pandas as pd
import os
filenames = [_.split('.')[0] for _ in os.listdir('./') if '.csv' in _]
print(filenames)

dfs = [pd.read_csv(filename + '.csv') for filename in filenames]
df_orders, df_prod, df_order_items, df_customers = dfs
print([len(_) for _ in [df_orders, df_prod, df_order_items, df_customers]])

['noahs-orders', 'noahs-products', 'noahs-orders_items', 'noahs-customers']
[213232, 1278, 426541, 8260]

In [2]:
cat_prod = df_prod[ df_prod['desc'].str.contains('cat',case=False) ]
cat_prod

,sku,desc,wholesale_cost,dims_cm
0,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2
1,PET0006,"Vegan Adult Cat Food, Chicken & Chicken",1.41,19.9|16.9|0.3
2,PET0019,"Dry Senior Cat Food, Tuna & Tuna",0.89,18.6|8.7|7.2
3,PET0023,"Gluten-free Cat Food, Beef & Beef",1.47,17.4|4.4|4.0
4,PET0027,"Wet Adult Cat Food, Tuna & Tuna",1.03,14.3|14.3|3.0
...,...,...,...,...
1271,PET9955,"Wet Senior Cat Food, Pumpkin & Pumpkin",1.19,14.8|12.6|9.7
1272,PET9979,"Dry Cat Food, Tuna & Tuna",0.93,17.3|14.4|13.2
1274,PET9985,"Gluten-free Cat Food, Chicken & Chicken",1.41,11.7|10.0|4.2
1275,PET9986,"Gluten-free Adult Cat Food, Salmon & Salmon",1.38,19.1|2.8|1.4
1276,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7

In [3]:
cat_items = pd.merge(cat_prod, df_order_items, on='sku')
cat_items

,sku,desc,wholesale_cost,dims_cm,orderid,qty,unit_price
0,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2,3368,1,1.17
1,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2,3909,1,1.22
2,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2,4141,1,1.07
3,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2,4473,1,1.09
4,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2,4593,1,1.17
...,...,...,...,...,...,...,...
255704,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,210368,1,1.90
255705,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,210380,1,1.96
255706,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,211133,1,2.22
255707,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,212910,1,1.99
255708,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,213752,1,2.08

In [4]:
cat_orders = pd.merge(cat_items, df_orders, on='orderid')
cat_orders

,sku,desc,wholesale_cost,dims_cm,orderid,qty,unit_price,customerid,ordered,shipped,items,total
0,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2,3368,1,1.17,6538,2017-02-22 13:34:24,2017-02-22 20:15:00,NaN,5.30
1,PET7051,"Wet Senior Cat Food, Duck & Duck",0.83,13.9|13.3|9.0,3368,1,0.99,6538,2017-02-22 13:34:24,2017-02-22 20:15:00,NaN,5.30
2,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2,3909,1,1.22,6830,2017-02-28 08:14:14,2017-02-28 12:00:00,NaN,27.33
3,PET0006,"Vegan Adult Cat Food, Chicken & Chicken",1.41,19.9|16.9|0.3,3909,1,1.78,6830,2017-02-28 08:14:14,2017-02-28 12:00:00,NaN,27.33
4,PET0304,"Wet Adult Cat Food, Turkey & Turkey",0.99,19.9|5.1|1.0,3909,1,1.34,6830,2017-02-28 08:14:14,2017-02-28 12:00:00,NaN,27.33
...,...,...,...,...,...,...,...,...,...,...,...,...
255704,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,205929,1,1.87,4541,2022-09-24 21:30:06,2022-09-28 16:45:00,NaN,2.86
255705,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,206403,1,2.21,7087,2022-09-29 14:23:00,2022-09-29 14:23:00,NaN,2.21
255706,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,206559,1,2.03,9046,2022-10-01 07:32:43,2022-10-01 09:00:00,NaN,2.03
255707,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,207732,1,2.07,6254,2022-10-12 13:33:06,2022-10-12 13:33:06,NaN,2.07
255708,PET9991,"Gluten-free Cat Food, Turkey & Turkey",1.60,15.6|12.4|8.7,212910,1,1.99,2111,2022-12-04 02:39:21,2022-12-04 07:30:00,NaN,1.99

In [6]:
cat_clients = pd.merge(cat_orders, df_customers, on='customerid')
cat_clients

,sku,desc,wholesale_cost,dims_cm,orderid,qty,unit_price,customerid,ordered,shipped,items,total,name,address,citystatezip,birthdate,phone,timezone,lat,long
0,PET0002,"Wet Cat Food, Tuna & Tuna",0.89,16.1|5.5|3.2,3368,1,1.17,6538,2017-02-22 13:34:24,2017-02-22 20:15:00,NaN,5.30,Leslie Johnson,1501B Carroll St,"Brooklyn, NY 11213",1950-03-31,516-747-3624,America/New_York,40.66608,-73.94185
1,PET7051,"Wet Senior Cat Food, Duck & Duck",0.83,13.9|13.3|9.0,3368,1,0.99,6538,2017-02-22 13:34:24,2017-02-22 20:15:00,NaN,5.30,Leslie Johnson,1501B Carroll St,"Brooklyn, NY 11213",1950-03-31,516-747-3624,America/New_York,40.66608,-73.94185
2,PET0102,"Wet Adult Cat Food, Salmon & Salmon",0.99,15.2|2.3|0.2,112092,1,1.51,6538,2020-02-19 15:28:31,2020-02-19 15:28:31,NaN,2.69,Leslie Johnson,1501B Carroll St,"Brooklyn, NY 11213",1950-03-31,516-747-3624,America/New_York,40.66608,-73.94185
3,PET0327,"Gluten-free Senior Cat Food, Pumpkin & Pumpkin",1.58,15.2|8.3|4.4,108146,1,1.95,6538,2020-01-11 12:45:00,2020-01-11 14:15:00,NaN,8.60,Leslie Johnson,1501B Carroll St,"Brooklyn, NY 11213",1950-03-31,516-747-3624,America/New_York,40.66608,-73.94185
4,PET1718,"Vegan Adult Cat Food, Salmon & Salmon",1.76,15.1|5.3|0.1,108146,1,2.14,6538,2020-01-11 12:45:00,2020-01-11 14:15:00,NaN,8.60,Leslie Johnson,1501B Carroll St,"Brooklyn, NY 11213",1950-03-31,516-747-3624,America/New_York,40.66608,-73.94185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255704,PET9924,"Dry Adult Cat Food, Pumpkin & Pumpkin",1.10,11.3|7.7|1.1,43815,1,1.39,8789,2018-04-06 23:15:08,2018-04-11 11:30:00,NaN,1.39,Jason Ortega,4285 Gunther Ave,"Bronx, NY 10466",1992-10-11,914-928-8362,America/New_York,40.89487,-73.84947
255705,PET9955,"Wet Senior Cat Food, Pumpkin & Pumpkin",1.19,14.8|12.6|9.7,17433,1,1.50,7673,2017-07-15 10:33:46,2017-07-16 16:30:00,NaN,1.50,William Johnson,982 W Magnolia Dr,"Baton Rouge, LA 70801",1994-05-02,985-647-4245,America/Chicago,30.44200,-91.13110
255706,PET9955,"Wet Senior Cat Food, Pumpkin & Pumpkin",1.19,14.8|12.6|9.7,59721,1,1.53,3518,2018-09-14 09:48:11,2018-09-14 09:48:11,NaN,23.92,Jennifer Rodriguez,10 Sylvan Ct,"Staten Island, NY 10307",1998-05-19,914-808-0848,America/New_York,40.50830,-74.23529
255707,PET9979,"Dry Cat Food, Tuna & Tuna",0.93,17.3|14.4|13.2,54461,1,1.02,6398,2018-07-23 09:15:14,2018-07-23 19:15:00,NaN,1.02,Zachary Ritter,24 O'Brien Pl,"Brooklyn, NY 11208",1984-03-04,315-403-1975,America/New_York,40.68685,-73.86937
255708,PET9979,"Dry Cat Food, Tuna & Tuna",0.93,17.3|14.4|13.2,82365,1,1.08,8566,2019-04-27 15:55:54,2019-04-27 15:55:54,NaN,15.24,Holly Fernandez,112-52 193rd St,"Saint Albans, NY 11412",1985-12-12,516-933-3956,America/New_York,40.69564,-73.75659

In [15]:
cat_clients[ cat_clients.citystatezip.str.contains('Staten', case=False) ]
    .groupby(['name','phone'])\
    .size()\
    .sort_values(ascending=False)\
    .head(4)

name              phone
Brian Hudson III  516-570-4577    21
Nicole Wilson     631-507-6048    21
Marie Noble       929-294-9773    16
Jennifer Case     838-390-1549    12
dtype: int64